<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="card-image  active-image"></div>
        <mat-card-title>{{active_title}}</mat-card-title>
        <mat-card-subtitle>{{active_count}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="card-image  confirmed-image"></div>
        <mat-card-title>{{confirmed_title}}</mat-card-title>
        <mat-card-subtitle>{{confirmed_count}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="card-image  decreased-image"></div>
        <mat-card-title>{{decreased_title}}</mat-card-title>
        <mat-card-subtitle>{{decreased_count}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="card-image  recovered-image"></div>
        <mat-card-title>{{recovered_title}}</mat-card-title>
        <mat-card-subtitle>{{recovered_count}}</mat-card-subtitle>
    </mat-card-header>
</mat-card>