/* .dialog table {
    width: 100%;
}

.ng-star-inserted {
    display: contents
} */

.mat-column-confirmed {
    text-align: center;
}

.mat-dialog-content {
    max-height: 300px;
}

tr.mat-footer-row {
    font-weight: bold;
}